@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("assets/img/blur.svg");
  font-family: "Fira Code", monospace;
  background-color: #3b4664;
}
.container {
  max-width: 500px;
  padding: 2rem 1rem;
  background-color: #252d44;
  width: 100%;
  border-radius: 10px;
}
.container h3 {
  color: white;
}
.display {
  outline: none;
  border: none;
  border-bottom: 2px solid palevioletred;
  text-align: right;
  width: 100%;
  margin-bottom: 1rem;
  font-size: xx-large;
  background-color: #252d44;
  color: aliceblue;
}
.buttons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  background-color: #eae3db;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}
button.ac,
button.del {
  background-color: #3b4664;
  color: #eaeaea;
}
button.equals {
  background-color: #d13f30;
  color: #eaeaea;
  grid-column: 3/5;
}
@media screen and (max-width: 750px) {
  .container {
    max-width: 90%;
  }
}
